* {
  margin: 0;
  padding: 0;
}

.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: 3%;
  text-align: center;
}

body {
  background-color: #231f20; 
  color: #f5f5f5;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a { color: #f5f5f5;
text-decoration: none;
}

a:hover {
  color: #f5f5f5;
  text-decoration: underline;
}

